@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    background: aliceblue;
}
button {
    width: 130px;
    height: 41px;
}
.container {
    width: 1150px;
    margin: 0 auto;
}
.row-btns {
    background: goldenrod;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}

/*-Buttons-*/

/*Button - 1*/

.btn-1 {
    background: none;
    color: black;
    border: 4px solid #3592bd;
    cursor: pointer;
    transition: 0.3s all ease-in;
}
.btn-1:hover {
    background: #448f95;
    box-shadow: 4px 2px 3px 0px #175b60;
    color: white;
    border: 4px solid #2c747e;
    border-radius: 7px;
}
.btn-1:active {
    background: #5a97bb;
    transition: 0.1s all ease-in-out;
    border: 4px solid #3a8375;
}

/* Button - 2 */

.btn-2 {
    background: transparent;
    cursor: pointer;
    transition: 0.2s all ease-in;
}
.btn-2:hover {

    box-shadow: 0px 4px 5px -2px black, 0px 4px 10px -2px rebeccapurple;
    transition: 0.3s all ease-out;
    transform: translateY(2px);
}
.btn-2:active {
    box-shadow: 3px 7px 7px -7px #ff0b0b, 1px 7px 5px -2px rebeccapurple;
    transition: 0.1s all ease-out;
    transform: translateY(2px);
    color: rebeccapurple;
}

/* Button - 3 ONLY GRADIENT*/

.btn-3 {
    background: linear-gradient(45deg, #896565, brown);
    color: white;
    cursor: pointer;
}

/* Button - 4 */

.btn-4 {
    background: transparent;
    border: 4px solid;
    border-image: repeating-linear-gradient(315deg, brown, #ff738c 4%) 1;
    cursor: pointer;
    transition: 0.5s all ease-in;
}
.btn-4:hover {
    border-image: repeating-linear-gradient(42deg, brown, #ff738c 4%) 1;
    transition: 0.5s all ease-out;
    transform: translateY(2px);
}
.btn-4:active {
    background: #e3798c;
    color: white;
    transition: 0.1s all
}

/* Button - 5 */

.btn-5 {
    background: transparent;
    border: 4px solid;
    border-image: repeating-linear-gradient(40deg, #ff4040, #ffffff 5%) 6;
    cursor: pointer;
    transition: 0.5s all ease-in;
}
.btn-5:hover {
    background: #ededed;
    transition: 0.5s all ease-out;
    transform: translateY(2px);
}

/* Button - 6 */

.btn-6 {
    border: 2px solid #662935;
    cursor: pointer;
    box-shadow: 0 0 40px 40px #d8e8ef inset;
    transition: all 0.4s ease-in-out;
}
.btn-6:hover {
    box-shadow: 0 0 7px 0px #bf7da7 inset, 0 0 3px 4px #0089ff;
}